<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/contatos.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokémon</title>
</head>
<body>
    <nav>
        <ul class="menu">
            <li><a href="menu.html">Menu</a></li>
            <li><a href="servicos.html">Serviços</a>
                <ul class="submenu">
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Desenvolvimento</a></li>
                    <li><a href="#">Configuração de Redes</a></li>
                </ul>
            </li>
            <li><a href="index.html">HTTYD</a></li>
        </ul>
    </nav>

    <div class="caixao">
        <table border="1">
            <tr style="background-color: rgb(255, 117, 117);">
                <th>N° Pokédex</th>
                <th>Nome</th>
                <th>Tipo</th>
            </tr>
            <tr>
                <td>0197</td>
                <td>Umbreon</td>
                <td class="dark">Dark (Sombrio)</td>
            </tr>
            <tr>
                <td>0196</td>
                <td>Espeon</td>
                <td class="psic">Psychic (Psíquico)</td>
            </tr>
            <tr>
                <td>1025</td>
                <td>Miraidon</td>
                <td><a class="elec">Eletric (Elétrico)</a> / <a class="drag">Dragon (Dragão)</a></td>
            </tr>
        </table>
    </div>

</body>
</html>